doctype html
html
  head
    title= title
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/qrcode.js')
    link(rel='stylesheet', href='./stylesheets/bootstrap.min.css')
    script(src='./javascripts/bootstrap.min.js')
    script(src='./javascripts/common.js')
  body
    .container
      block content
